langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-groq==0.2.2
langchain-huggingface==0.1.2
chromadb==0.6.0
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
beautifulsoup4==4.12.3
requests==2.32.3
huggingface_hub==0.18.1